:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$logoh: 6em;
$logop: 1.5em;

.click-me {
  height: 100px;
  width: 600px;
}

.rocket {
  height: $logoh;
  padding: $logop;
}

.svglo {
  height: $logoh;
  padding: $logop;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root b {
  display: block;
  height: $logoh;
  width: $logoh;
  padding: $logop;
  background-image: url(./assets/svg-logo.svg);
  background-size: 100%;
  position: absolute;
  -webkit-animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  -moz-animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  -o-animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
  from { left: 0; } to { left: 100vw; }
}
@-moz-keyframes moveX {
  from { left: 0; } to { left: 100vw; }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: 100vw; }
}
@keyframes moveX {
  from { left: 0; } to { left: 100vw; }
}

@-webkit-keyframes moveY {
  from { top: 0; } to { top: 100vh; }
}
@-moz-keyframes moveY {
  from { top: 0; } to { top: 100vh; }
}
@-o-keyframes moveY {
  from { top: 0; } to { top: 100vh; }
}
@keyframes moveY {
  from { top: 0; } to { top: 100vh; }
}